@image-path: 'assets/';

// Colours
@color-giver:              #236b5d;
@color-charity:            #5e7914;
@color-hmrc:               #791422;
@background-color-giver:   #9cc5bd;
@background-color-charity: #dcf1a1;
@background-color-hmrc:    #f3a2ad;
